/* 1344px */
@media (max-width: 84em) {
  :root {
    /* Font */
    --font-size-h3: 3.4rem;

    /* Modal section */
    --width-modal: 70vw;
    --height-modal: 90vh;
    --padding-modal: 4rem 5.6rem;
  }
}

/* 1200px */
@media (max-width: 75em) {
  :root {
    /* Font */
    --font-size-h2: 1.9rem;
    --font-size-h3: 3.2rem;

    /* Spacing */
    --mg-container: 8rem;
    --mg-sections: 5.6rem;

    /* Chevron/arrows */
    --width-chevron-container: 7rem;

    /* Nav bar section */
    --max-width-logo: 16.8rem;

    --max-width-search-bar: 44rem;

    /* Movies section */
    --gap-h2-and-movie-row: 1.2rem;
    --gap-movie-posters: 1.2rem;

    --width-movie-poster: 20rem;
    --height-movie-poster: 29.6rem;

    /* Modal section */
    --width-modal: 75vw;
    --height-modal: 90vh;
    --padding-modal: 4rem 4.8rem;
  }
}

/* 1088px */
@media (max-width: 68em) {
  :root {
    /* Font */
    --font-size-h3: 3rem;

    /* Modal section */
    --width-modal: 85vw;
    --height-modal: 90vh;
    --padding-modal: 3.2rem 4rem;
  }
}

/* 960px */
@media (max-width: 60em) {
  .error__modal {
    padding: 5.6rem 8rem;
  }

  :root {
    /* Font */
    --font-size-regular: 1.5rem;

    /* Spacing */
    --mg-container: 6.4rem;

    /* Buttons */
    --font-size-buttons: 1.3rem;
    --font-weight-buttons: 500;

    --padding-buttons: 0 3rem;

    /* Chevron/arrows */
    --width-chevron-container: 6.5rem;

    /* Nav bar section */
    --max-width-logo: 16rem;

    --max-width-search-bar: 40rem;
    --padding-search-bar: 2rem 3rem;

    /* Footer section */
    --mg-top-footer-line: 8.8rem;
  }
}

/* 832px */
@media (max-width: 52em) {
  :root {
    /* Font */
    --font-size-h2: 1.8rem;

    /* Spacing */
    --mg-container: 5.6rem;

    /* Chevron/arrows */
    --width-chevron-container: 6rem;

    /* Nav bar section */
    --max-width-logo: 15.2rem;

    --max-width-search-bar: 36rem;
    --padding-search-bar: 2rem 2.4rem;

    --right-displacement-search-button: -10px;

    /* Movies section */
    --width-movie-poster: 19.2rem;
    --height-movie-poster: 28.8rem;

    /* Modal section */
    --width-modal: 90vw;
    --padding-modal: 3.2rem 3.6rem;
  }
}

/* 752px */
@media (max-width: 47em) {
  /* Modal takes whole screen to display */
  .overlay {
    align-items: flex-start;
  }

  .modal {
    border-radius: 0;
    width: 100%;
    min-height: 100vh;
    height: auto;
  }

  .modal__content {
    flex-direction: column;
    gap: 2.4rem;
  }

  .modal__movie-poster {
    width: 100%;
    max-height: 40rem;
  }

  .modal__movie-data {
    width: 100%;
    gap: 4.8rem;
  }

  .modal__movie-data--chips {
    font-size: 1.6rem;
  }

  .modal__movie-data--information {
    font-size: 1.6rem;
  }

  .modal__movie-data--plot {
    font-size: 1.6rem;
  }

  .modal__movie-data__buttons-container {
    justify-content: start;
    gap: 1rem;
  }

  .modal__movie-data__button {
    width: auto;
    padding: var(--padding-vertical-movie-data-buttons) 2.4rem;
  }

  .error__modal {
    padding: 4.8rem 7.2rem;
  }

  :root {
    /* Spacing */
    --mg-container: 4.8rem;

    /* Buttons */
    --padding-buttons: 0 2.8rem;

    /* Nav bar section */
    --max-width-logo: 14.4rem;

    --max-width-search-bar: 36rem;

    /* Modal section */
    --padding-modal: 5.6rem 4.8rem 4rem;

    /* Footer section */
    --mg-top-footer-line: 7.2rem;
  }
}

/* 720px */
@media (max-width: 45em) {
  /* Navbar in 2 rows for smaller devices */
  .nav .container {
    flex-wrap: wrap;
  }

  .nav__logo {
    order: 1;
  }

  .btn--bookmarks {
    order: 1;
  }

  .nav__search {
    order: 2;
    min-width: 100%;
    margin-top: 1.6rem;
  }

  :root {
    /* Spacing */
    --mg-sections: 4.8rem;

    /* Nav bar section */
    --max-width-logo: 15.2rem;

    --max-width-search-bar: 100%;

    --right-displacement-search-button: 0;

    /* Movies section */
    --gap-between-movie-rows: 3.2rem;

    --gap-h2-and-movie-row: 1rem;
    --gap-movie-posters: 1rem;

    --width-movie-poster: 17.6rem;
    --height-movie-poster: 27.2rem;
  }
}

/* 640px */
@media (max-width: 40em) {
  .error__modal {
    padding: 5.6rem 8rem;
    width: 40rem;
  }

  :root {
    /* Spacing */
    --mg-container: 3.6rem;

    /* Movies section */
    --width-movie-poster: 16.8rem;
    --height-movie-poster: 26.4rem;

    /* Modal section */
    --padding-modal: 5.6rem 4rem 4rem;
  }
}

/* 576px */
@media (max-width: 36em) {
  .modal__movie-data {
    gap: 3.2rem;
  }

  .error__modal {
    width: 36rem;
  }

  :root {
    /* Spacing */
    --mg-container: 2.4rem;
    --mg-sections: 4.4rem;

    /* Chevron/arrows */
    --width-chevron-container: 5.4rem;

    /* Modal section */
    --padding-modal: 5.6rem 3.2rem 3.2rem;
  }
}

/* 512px */
@media (max-width: 32em) {
  .error__modal {
    padding: 4rem 7.2rem;
    width: 32rem;
  }

  :root {
    /* Spacing */
    --mg-container: 2rem;
    --mg-sections: 4rem;

    /* Chevron/arrows */
    --width-chevron-container: 4.8rem;

    /* Modal section */
    --padding-modal: 5.6rem 2.4rem 2.4rem;

    /* Footer section */
    --mg-top-footer-line: 6.4rem;
  }
}

/* 504px */
/* Only for search results/bookmarks grid display */
@media (max-width: 31.5em) {
  .results__posters-container {
    grid-template-columns: repeat(
      auto-fit,
      minmax(var(--width-movie-poster), auto)
    );
    justify-content: center;
    column-gap: 1.6rem;
    row-gap: 1.6rem;
    margin-top: 2.4rem;
  }
}
