/* ---------------------- */
/*         GENERAL        */
/* ---------------------- */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  /* Color */
  --color-white: #fff;
  --color-black: #101010;
  --color-grey: #b6b6b6;
  --color-grey--dark: #272727;
  --color-purple-light: #9d65ff;
  --color-purple-dark: #703dc9;

  --color-purple--tint: #d8c1ff;
  --color-purple--shade: #4f3380;

  --gradient-logo: linear-gradient(to bottom right, #9d65ff, #703dc9);
  --gradient-background: linear-gradient(to bottom right, #101010, #272727);

  /* Font */
  --font-size-regular: 1.6rem;
  --font-size-h2: 2rem;
  --font-size-h3: 3.6rem;

  /* Spacing */
  --mg-container: 9.6rem;
  --mg-sections: 6.4rem;
  --sm: 2.4rem;

  /* Border */
  --border-radius-sm: 3px;
  --border-radius-rounded: 101px;

  /* Buttons */
  --font-size-buttons: 1.4rem;
  --font-weight-buttons: 500;

  --padding-buttons: 0 3.2rem;

  --gap-inside-buttons: 0.4rem;

  --border-stroke-width-buttons: 0.3rem;

  /* Icons */
  --font-size-icons--regular: 2.4rem;
  --font-size-icons--large: 3rem;
  --stroke-width-icons--regular: 4.4rem;

  /* Chevron/arrows */
  --font-size-chevron--regular: 3.6rem;
  --font-size-chevron--hover: 4.4rem;

  --width-chevron-container: 8rem;

  /* Shadows */
  --box-shadow: 0.8rem 1.6rem 4.8rem rgba(10, 10, 10, 0.15);

  /* Nav bar section */
  --max-width-logo: 17.6rem;

  --max-width-search-bar: 48rem;
  --padding-search-bar: 2rem 3.2rem;
  --letter-spacing-search-bar: -0.3px;

  --right-displacement-search-button: -3px;

  --padding-vertical-bookmarks-button: 2rem;

  /* Slider section */
  --max-height-slider: 80vh;

  /* Movies section */
  --gap-h2-and-movie-row: 1.6rem;
  --gap-movie-posters: 1.6rem;

  --width-movie-poster: 20.8rem;
  --height-movie-poster: 30.4rem;

  /* Modal section */
  --width-modal: 65vw;
  --height-modal: 90vh;
  --padding-modal: 4.8rem 6.4rem;
  --gap-poster-and-data: 1.6rem;

  --gap-movie-data-items: 1.6rem;
  --gap-movie-data-chips: 0.4rem;
  --padding-movie-data-chips: 0.25rem 1.2rem 0.4rem 1.2rem;
  --line-height-movie-data-plot: 1.6;
  --padding-vertical-movie-data-buttons: 1.2rem;

  --width-modal-close-icon--div: 5rem;
  --height-modal-close-icon--div: 5rem;
  --padding-right-modal-close-icon: 0.4rem;

  /* Search results / bookmarks section */
  --gap-results-rows: 2.4rem;
  --gap-results-button-back-and-h2: 4.8rem;

  --padding-results-button--back: 0.8rem 1.6rem 0.8rem 0.8rem;

  /* Footer section */
  --height-footer-line: 0.1rem;
  --mg-top-footer-line: 9.6rem;

  --gap-footer-content: 4.8rem;
  --padding-footer-content: 8rem 0 6.4rem 0;

  --gap-footer-copy-socials: 2.4rem;
  --gap-footer-social-icons: 1.2rem;
  --width-height-footer-social-icons: 4.8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 62.5%; */
  font-size: 56.25%;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: var(--font-size-regular);
  color: var(--color-white);

  background: var(--gradient-background);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

li {
  list-style: none;
}

/* ---------------------- */
/*        REUSABLE        */
/* ---------------------- */

/* Utils */
.container {
  margin: 0 var(--mg-container);
}

.flex {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

/* Buttons */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-inside-buttons);
  height: 100%;

  font-family: 'Inter', sans-serif;
  font-size: var(--font-size-buttons);
  font-weight: var(--font-weight-buttons);
  text-transform: uppercase;
  color: var(--color-white);
  background-color: transparent;

  padding: var(--padding-buttons);

  border: none;
  border-radius: var(--border-radius-rounded);

  cursor: pointer;

  transition: all 0.2s ease-in-out;
}

.button__container {
  position: absolute;
  z-index: 10;
  height: 100%;
  width: var(--width-chevron-container);
  background-color: rgba(10, 10, 10, 0.04);
  border: none;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;
}

.button__container:hover {
  background-color: rgba(10, 10, 10, 0.15);
}

.button__container--previous {
  top: 0;
  left: 0;
}

.button__container--next {
  top: 0;
  right: 0;
}

.button__box {
  width: 100%;
  height: 100%;
}

.button__icon {
  font-size: var(--font-size-chevron--regular);
  color: var(--color-grey);
  transition: color 0.15s ease-in-out, font-size 0.15s ease-in-out;
}

.button__container:hover .button__icon {
  color: var(--color-white);
  font-size: var(--font-size-chevron--hover);
}

.button__container:active .button__icon {
  font-size: var(--font-size-chevron--regular);
  transition: font-size 0.02s ease-in-out;
}

/* Icons */
.icon {
  font-size: var(--font-size-icons--regular);
  --ionicon-stroke-width: var(--stroke-width-icons--regular);
  color: var(--color-white);
}

/* Spacing */
.mg-top--sm {
  margin-top: var(--sm);
}

.padding-top--sm {
  padding-top: var(--sm);
}

.padding-bottom--sm {
  padding-bottom: var(--sm);
}

/* Invisible */
.sr-only {
  position: absolute;
  inset: 0;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  clip-path: inset(50%);
  border: 0;
}

/* ---------------------- */
/*        SECTIONS        */
/* ---------------------- */

/* ****** */
/* Navbar */
.nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.nav__bg {
  /* Hacer: con JS, saco esta clase cuando estoy arriba de todo (fondo transparente), y la agrego cuando hago scroll hacia abajo */
  background: rgba(10, 10, 10, 0.8);
  backdrop-filter: blur(8px);
}

.nav .container {
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  /* Hacer: al hacerle click me lleva arriba de todo */
  max-width: var(--max-width-logo);
  cursor: pointer;
}

.nav__search {
  flex: 1;
  justify-content: center;
}

.search__wrapper {
  flex: 1;
  position: relative;
  max-width: var(--max-width-search-bar);
}

.search__field {
  flex: 1;
  width: 100%;
  padding: var(--padding-search-bar);
  border: none;
  border-radius: var(--border-radius-rounded);

  font-family: 'Inter', sans-serif;
  letter-spacing: var(--letter-spacing-search-bar);
  font-size: var(--font-size-regular);
  color: var(--color-black);
}

input::placeholder {
  font-family: 'Inter', sans-serif;
  letter-spacing: var(--letter-spacing-search-bar);
  font-size: var(--font-size-regular);
}

.search__btn {
  position: absolute;
  top: 0;
  right: var(--right-displacement-search-button);

  background: var(--gradient-logo);
  transition: transform 0.2s ease-in-out;
}

.search__btn:hover {
  transform: scale(1.08);
}

.search__btn:active {
  transform: scale(1);
  transition: transform 0.12s ease-in-out;
}

.btn--bookmarks {
  padding-top: var(--padding-vertical-bookmarks-button);
  padding-bottom: var(--padding-vertical-bookmarks-button);
  cursor: pointer;
  border: var(--border-stroke-width-buttons) solid transparent;
}

.btn--bookmarks:hover {
  border-color: var(--color-purple-light);
}

.btn--bookmarks:active {
  transform: scale(0.92);
  transition: transform 0.1s ease-in-out;
}

.icon--bookmarks {
  color: var(--color-purple-light);
}

/* ****** */
/* Slider */
.slider-dots__wrapper {
  margin-bottom: var(--mg-sections);
}

.slider {
  max-width: 100%;
  /* max-height: var(--max-height-slider); */
  height: var(--max-height-slider);
  overflow: hidden;

  position: relative;

  margin-bottom: 1.6rem;
  border-radius: var(--border-radius-sm);
}

.slider__wrapper {
  flex-wrap: nowrap;
  height: 100%;
  transition: transform 0.5s ease;
}

.slider__slide {
  min-width: 100%;
  /* flex: 0 0 100%; */
}

.slider__slide-btn {
  width: 100%;
  height: 100%;
  border: none;
  background: var(--gradient-background);
  cursor: pointer;
}

.slider__slide-btn:active img {
  transform: scale(0.99);
  border-radius: var(--border-radius-sm);
}

.slider__slide img {
  width: 100%;
  height: auto;
  /* height: 100%; */
  object-fit: cover;
  display: block;
  transition: transform 0.06s ease-in-out;
}

.slider__dots {
  gap: 1rem;
}

.slider__dot {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: var(--border-radius-rounded);
  border: none;
  background-color: rgba(182, 182, 182, 0.5);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.slider__dot--active {
  background-color: rgba(255, 255, 255, 0.7);
}

.slider__dot:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

/* ********** */
/* Movie Rows */
.movies {
  flex-direction: column;
  gap: var(--gap-h2-and-movie-row);

  margin-bottom: var(--mg-sections);
}

section.movies:last-of-type {
  margin-bottom: 0;
}

.movies__row-wrapper {
  position: relative;
}

.movies__row {
  display: flex;
  gap: var(--gap-movie-posters);
  overflow: hidden;
  /* scroll-behavior: smooth; */
  /* flex: 1; */

  padding: 0 var(--mg-container);
}

.movies__card {
  width: var(--width-movie-poster);
  height: var(--height-movie-poster);
  border-radius: var(--border-radius-sm);
  flex: 0 0 auto;
  overflow: hidden;

  background-color: green;
}

.movies__card:hover img {
  transform: scale(1.06);
}

.movies__card:active img {
  transform: scale(1.03);
  transition: transform 0.06s ease-in-out;
}

.movies__card-btn {
  all: unset;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.movies__card-btn img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.15s ease-in-out;
}

/* *************** */
/* Modal & Overlay */
.overlay {
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 10, 10, 0.75);
  overflow-y: auto;
}

/* Hacer: añadir esta clase con JS al elemento <body> cuando se abre el modal, para bloquear scroll del resto de la página (y ver mis notas, truquito padding-right para evitar saltos en el layout): */
/* body.modal-open {
  overflow: hidden;
} */

.modal {
  position: relative;
  width: var(--width-modal);
  height: var(--height-modal);
  background: var(--gradient-background);
  padding: var(--padding-modal);
  border-radius: var(--border-radius-sm);
  box-shadow: var(--box-shadow);
}

.modal__content {
  display: flex;
  gap: var(--gap-poster-and-data);
  height: 100%;
}

.modal__movie-poster {
  overflow: hidden;
  width: 50%;
  height: 100%;
  border-radius: var(--border-radius-sm);
}

.modal__movie-poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal__movie-data {
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 100%;

  /* background-color: lightgreen; */
}

.modal__movie-data-wrapper {
  flex-direction: column;
  gap: var(--gap-movie-data-items);
}

.modal__movie-data--chips {
  display: flex;
  gap: var(--gap-movie-data-chips);
}

.modal__chip {
  color: var(--color-purple--tint);
  background-color: var(--color-purple--shade);
  padding: var(--padding-movie-data-chips);
  border-radius: var(--border-radius-rounded);
}

.modal__movie-data--information {
  color: var(--color-grey);
  line-height: var(--line-height-movie-data-plot);
}

.modal__movie-data--plot p {
  line-height: var(--line-height-movie-data-plot);
}

.modal__movie-data__buttons-container {
  justify-content: space-between;
}

.modal__movie-data__button {
  padding-top: var(--padding-vertical-movie-data-buttons);
  padding-bottom: var(--padding-vertical-movie-data-buttons);
  max-width: 50%;
}

.modal__movie-data__button--bookmarks {
  background: var(--gradient-logo);
}

.modal__movie-data__button--trailer {
  background: none;
  border: var(--border-stroke-width-buttons) solid var(--color-purple-light);
}

.modal__movie-data__button--bookmarks:active,
.modal__movie-data__button--trailer:active {
  transform: scale(0.97);
  transition: transform 0.12s ease-in-out;
}

.icon--link {
  transform: rotate(-45deg);
}

.modal__close-icon {
  position: absolute;
  top: 0;
  right: 0;

  /* Hago el button más grande que el ícono para que sea fácil clickearlo */
  width: var(--width-modal-close-icon--div);
  height: var(--height-modal-close-icon--div);
  padding-right: var(--padding-right-modal-close-icon);
  background-color: transparent;
  border: none;

  cursor: pointer;
}

.icon--close {
  font-size: var(--font-size-icons--large);
}

/* ************** */
/* Search Results */
.results__container {
  flex-direction: column;
  gap: var(--gap-h2-and-movie-row);
  margin-top: var(--sm);
}

.button__back-container {
  margin-bottom: var(--gap-results-button-back-and-h2);
}

.button__back {
  gap: 0;
  background-color: var(--color-purple--shade);
  color: var(--color-purple--tint);
  padding: var(--padding-results-button--back);
  transition: color 0.1s ease-in-out;
}

.button__back:hover,
.button__back:hover .icon--back {
  color: var(--color-purple-light);
}

.icon--back {
  color: var(--color-purple--tint);
  transition: color 0.1s ease-in-out;
}

.results__posters-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--width-movie-poster), max-content)
  );
  justify-content: space-between;
  row-gap: var(--gap-results-rows);

  width: 100%;
  height: 100%;
}

/* ****** */
/* Footer */
.footer {
  flex-direction: column;
}

.footer__line {
  width: 100%;
  height: var(--height-footer-line);
  background-color: var(--color-grey);
  margin-top: var(--mg-top-footer-line);
}

.footer__content {
  flex-direction: column;
  gap: var(--gap-footer-content);
  padding: var(--padding-footer-content);
}

.footer__copy-socials {
  flex-direction: column;
  gap: var(--gap-footer-copy-socials);
}

.footer__link {
  color: var(--color-white);
  text-decoration: none;
  cursor: pointer;
  transition: color 0.15s ease-in-out;
}

.footer__link:hover {
  color: var(--color-purple-light);
}

.footer__socials-container {
  gap: var(--gap-footer-social-icons);
}

.footer__socials-button {
  width: var(--width-height-footer-social-icons);
  height: var(--width-height-footer-social-icons);
  background-color: var(--color-purple--shade);
  border-radius: var(--border-radius-rounded);
}

.icon--footer {
  color: var(--color-purple--tint);
  transition: color 0.15s ease-in-out;
}

.footer__socials-button:hover .icon--footer {
  color: var(--color-purple-light);
}

.footer__socials-button:active {
  transform: scale(0.92);
}

/* ******************** */
/* ******************** */
.hdn {
  display: none;
}
/* ******************** */
/* ******************** */
